telemetry.txt
test.py
omnilogic/test.py
omnilogic/config.py
__pycache__/
*.pyc
MANIFEST
omnilogic/omnilogic.py
*egg-info/
.vscode/
documentation/*
.venv/*
venv/*
test_data/*
build/
dist/
.pytest_cache/
